@model Channelizer2Cloud.Models.UserLoginDeviceInfo

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UserLoginDeviceInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.loc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.org)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.org)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timezone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timezone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.onetimepassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.onetimepassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.login_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.login_time)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
