@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <ul>
        <li>@Html.ActionLink("Field Type/Data Type", "Index", "FieldTypes")</li>
        <li>@Html.ActionLink("ReferenceDataListItem", "Index", "ReferenceDataListItems")</li>
        <li>@Html.ActionLink("ReferenceDataList", "Index", "ReferenceDataLists")</li>
        <li>@Html.ActionLink("UserLoginDeviceInfo", "Index", "UserLoginDeviceInfoes")</li>
        <li>@Html.ActionLink("Program Management", "Index", "Vendor_Program")</li>
        <li>@Html.ActionLink("Vendor RegistrationFormField", "Index", "Vendor_RegistrationFormField")</li>
        <li>@Html.ActionLink("Vendor Management", "Index", "Vendors")</li>
        <li>@Html.ActionLink("Audit Management", "Index", "AuditLogs")</li>
        <li>@Html.ActionLink("Event Management", "Index", "EventLogs")</li>
        <li>@Html.ActionLink("Session Management", "Index", "User_LogTime")</li>
        <li>@Html.ActionLink("User Management", "Index", "UserInformations")</li>
    </ul>
</div>