@model Channelizer2Cloud.Models.User_LogTime

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>User_LogTime</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SessionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SessionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogInTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogInTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogOutTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogOutTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Offline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Offline)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.User_LogTime_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
