@model Channelizer2Cloud.Models.Mvs_Deal

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Mvs_Deal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VendorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProgramId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgramId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DealName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DealName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DealDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DealDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpectedRevenue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpectedRevenue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DealStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DealStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubmittedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubmittedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mvs_VarId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mvs_VarId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerContactId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerContactId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesRepId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesRepId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubmitedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubmitedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Mvs_Deal_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
