@model Channelizer2Cloud.ViewModel.UserViewVodel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



@using (Html.BeginForm())
{
        @Html.HiddenFor(model => model.Username)
<div class="row" >
    <div class="col-md-offset-4 col-md-4 s-loginform">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <br />
                <div class="form-group">
                    @Html.Label("Current Password", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.CurrentPassword, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                    @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.Label("New Password", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.Label("Confirm Password", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <div class="col-md-offset-10">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                    <br />
                    <div class="s-center">
                        <p class="text-danger">@Html.Raw(ViewBag.ValidationError)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        </div>
    </div>
    }


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
