@model Channelizer2Cloud.Models.Vendor_Program
@{
    ViewBag.Title = "Create Program";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<h2>Create Program</h2>

@using (Html.BeginForm("CreateProgram", "Main", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="form-horizontal">
    <hr />

    <div class="form-group">
        @Html.Label("Select Vendor", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Vendor_Id", (IEnumerable<SelectListItem>)ViewBag.VendorList, new { id = "ddlVendors", @class = "form-control" })
        </div>
        </div>

        <div class="form-group">
            @Html.Label("Program Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProgramName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProgramName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create Program" class="btn btn-primary" />
            </div>
        </div>
    </div>
    }

  